* {
    background-color: #1A1A1D;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}

.txt {
    color: #FFFDFA;
}

.web-header {
    color: #FFFDFA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0;
    width: 58rem;
    height: auto;
}

.sub-header {
    color: #FFFDFA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0;
    width: 58rem;
    height: auto;
}

.button-container {
    width: 40rem;
    height: auto;
    margin: 100px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    flex: 0;
}

.choiceButton {
    border: solid #C3073F 2px;
    color: #FFFDFA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: auto;
    padding: 30px;
}

.choiceButton:hover {
    background-color: #6F2232;
    transition: 0.2s;
    box-shadow: 0px 0px 10px 1px #C3073F;
    width: 31rem;
    height: auto;
}

.restart-button {
    border: solid #C3073F 1px;
    color: #FFFDFA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 2.7rem;
    flex: 0 0 auto;
    margin: 10px;
}

.restart-button:hover {
    background-color: #6F2232;
    width: 6.1rem;
    height: 2.8rem;
}

.stat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35rem;
    width: auto;
    font-size: larger;
    font-weight: bold;
}

.txt {
    margin: 10px;
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 0rem;
    padding: 30px;
    flex: 1;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer > p {
    color: #FFFDFA;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}